body {
	font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, "微软雅黑", STHeitiSC-Light, simsun, "宋体", WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	background: #f1f2f9;
	color: #666;
	text-transform: none;
}

.header {
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	background: #0a8;
	color: #fff;
	letter-spacing: 1;
}

.toolbar {
	display: flex;
	border: 2px solid #e8e8e8;
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
}

.toolbar .name {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	background: #fff;
	border-radius: 10px 0 0 10px;
}

.toolbar .name .input-text {
	overflow: visible;
	outline: 0;
	display: block;
	width: 100%;
	border: none;
	border-radius: 10px;
	text-indent: 20px;
	line-height: 20px;
}

.toolbar .btns {
	text-align: center;
	display: flex;
	color: #666;
	cursor: pointer;
}

.toolbar .btns .btn,
.toolbar .btns .clr {
	border-left: 2px solid #e8e8e8;
	width: 60px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.toolbar .btns .btn:hover {
	background: #fff;
	color: #0a8;
	border-radius: 0 10px 10px 0;
}

.toolbar .btns .clr:hover {
	background: #fff;
	color: #ddd;
}


/* 页面布局 */

.main {
	padding: 30px 0px;
	width: 960px;
	margin: 0 auto;
}

.main .icon_lists {
	width: 100% !important;
	overflow: hidden;
	*zoom: 1;
	list-style: none;
}

.main .icon_lists li {
	width: 100px;
	margin-bottom: 10px;
	margin-right: 20px;
	text-align: center;
	cursor: default;
	display: inline-block;
}

.main .icon_lists li .code-name {
	line-height: 1.2;
}

.main .icon_lists .icon {
	display: block;
	height: 100px;
	line-height: 100px;
	font-size: 42px;
	margin: 10px auto;
	color: #333;
	-webkit-transition: font-size 0.25s linear, width 0.25s linear;
	-moz-transition: font-size 0.25s linear, width 0.25s linear;
	transition: font-size 0.25s linear, width 0.25s linear;
}

.main .icon_lists .icon:hover {
	font-size: 100px;
}

.main .icon_lists .svg-icon {
	/* 通过设置 font-size 来改变图标大小 */
	width: 1em;
	/* 图标和文字相邻时，垂直对齐 */
	vertical-align: -0.15em;
	/* 通过设置 color 来改变 SVG 的颜色/fill */
	fill: currentColor;
	/* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
      normalize.css 中也包含这行 */
	overflow: hidden;
}

.main .icon_lists li .name,
.main .icon_lists li .code-name {
	color: #666;
}

.main .dib-box {
	font-size: 0;
	*word-spacing: -1px;
	letter-spacing: -5px;
}

.main .dib-box .dib {
	vertical-align: top;
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: inherit
}

.right-layer {
	right: 0;
	top: 60px;
	bottom: 0;
	position: fixed;
	width: 470px;
	padding: 10px;
}

.right-layer .close {
	font-size: 24px;
}

.right-layer .strong {
	margin-bottom: 10px;
}

.right-layer .code {
	display: flex;
	background: #f1f2f9;
	margin-bottom: 20px;
	border-radius: 10px;
}

.right-layer .code .text {
	width: 80%;
	line-height: 68px;
	height: 68px;
}

.right-layer .code .text input {
	width: 100%;
	border: none;
	background: #f1f2f9;
	outline: none;
	color: #666;
	text-indent: 20px;
	overflow: hidden;
	padding-right: 10px;
	font-size: 14px;
}

.right-layer .code .copy {
	width: 20%;
	text-align: center;
	padding: 20px 0px;
	border-left: 1px solid #fff;
	font-size: 18px;
	cursor: pointer;
}

.inview {
	opacity: 1;
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
	transform: translateY(-100%);
}

.inview-down {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
}

.inview-up {
	visibility: visible;
	opacity: 1;
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
}